<div fxLayout="column" class="p-5">
  <div>
    <h1 class="sec1-title">Places to Visit</h1>
  </div>
  <div fxLayout="column" class="pt-5">
    <div>
      <h2>1. Places book</h2>
    </div>
    <div fxLayout="row " fxLayout.xs="column" class="p-4 image-container" fxLayoutAlign="center center" >
      <div >
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
      </div>
      <div >
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
      </div>
      <div >
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
      </div>
      <div >
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
      </div>
    </div>
    <div class="p-2">
      <h4>
        On your Android phone or tablet, open the Google app Google app or Chrome app Chrome .
Go to the website with the image.
Touch and hold the image.
Tap Search with Google Lens.
Select how you want to search:
Use an object in the image: If available, on the object, tap Select .
Use part of an image: Tap Select image area , then drag the corners of the box around your selection.
At the bottom, scroll to find your related search results.
      </h4>
    </div>
  </div>
</div>
