<div fxLayout="column" fxLayoutAlign="center center" class="accomodation_container">
  <div>
    <h1>Places to Stay</h1>
  </div>
  <br>
  <br>
  <div fxLayout="row wrap" class="activities" fxLayout.xs="column"  fxLayoutAlign="center center">
    <mat-card fxLayout="column"fxFlex="22%" fxFlex.sm="45%" fxFlex.md="45%" *ngFor="let accomodation of accomodations" fxLayoutAlign="center center">
      <img src="{{accomodation.img}}" alt="">
      <br>
      <div>
        <span class="place_name">{{accomodation.category}}</span>
      </div>
      <br>
      <div>
        <mat-divider></mat-divider>
      </div>
      <br>
      <div class="w-100" fxLayoutAlign="center center">
        <button mat-stroke-button class="detail_button">View Detail</button>
      </div>
      <br>
    </mat-card>
  </div>
  <br>
  <br>
  <div>
    <button mat-stroked-button >View All Accomodation</button>
  </div>
  <br>
  <br>
</div>
