<div fxLayout="column" fxLayoutAlign="center center" class="accomodation_container">
  <div>
    <h1>Feature Places To Visit</h1>
  </div>
  <br>
  <br>
  <div fxLayout="row wrap" class="activities" fxLayout.xs="column"  fxLayoutAlign="center center">
    <mat-card fxFlex="22%" fxFlex.sm="45%" fxFlex.md="45%" *ngFor="let accomodation of accomodations">
      <img src="{{accomodation.img}}" alt="">
    </mat-card>
  </div>
  <br>
  <br>
  <div>
    <button mat-stroked-button >View All Places To visit</button>
  </div>
</div>

