<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="about">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50%" fxFlex.xs="100%">
    <div>
      <h1>Experience The Life Of Dandeli</h1>
    </div>
    <div>
      <p>Dandeli is a small town situated in Uttara Kannada district of Karnataka.
        It is located amidst lush green forest ranges of the Western Ghats along
        the banks of River Kali. Dandeli is famous for its adventure and eco-tourism.
        As per ancient text Dandeli is the mythical “Dandakaranya” mentioned
        in the epic Mahabharata.
      </p>
      <p>DANDELI - HAVE IT, HAVE IT ALL Deep cavern valleys, opaque lush-green forests,
        hilly terrain and long un-ending rivers - if all these entice your senses, t
        hen Dandeli is a must-visit destination for you. Located 125 kilometres from India's
        famous tourist destination - Goa, Dandeli is a city in Uttara Kannada district of Karnataka.
      </p>
      <p>
        Dandeli is a Taluk in Uttara Kannada district of Karnataka, India, in the Western Ghats region.
        A significant part of Dandeli's population consists of economic migrants from all over India,
        especially the north/south Indian states like Rajasthan, Uttar Pradesh, Bihar, Gujarat,
        Andhra, Tamil Nadu, Kerala, and many districts of the Karnataka state.
      </p>
    </div>
  </div>
  <div fxFlex="50%" fxFlex.xs="100%">
    <video width="320" height="240" autoplay>
      <source src="https://www.youtube.com/watch?v=K8qIalMGrCw" type="video/mp4">
      <source src="https://www.youtube.com/watch?v=K8qIalMGrCw" type="video/ogg">
    </video>
  </div>
</div>

