<div class="activities_container" >
  <div fxLayout="column" fxLayoutAlign="center center" class="activity_zone">
    <div>
      <h1>Adventure Activities</h1>
    </div>
    <div fxLayout="row wrap" class="activities" fxLayout.xs="column"  fxLayoutAlign="center center">
      <mat-card fxFlex="22%" fxFlex.sm="45%" fxFlex.md="45%" *ngFor="let activity of activites">
          <img  src={{activity.img}} >
          <div class="bottom-left">{{activity.name}}</div>
      </mat-card>
    </div>
  </div>
  <br>
  <br>
  <div fxLayoutAlign="center center">
    <button mat-stroked-button >View All Activites</button>
  </div>
  <br>
</div>
