<!-- <mat-toolbar>
  <ul>
    <li>Home</li>
    <li>Places</li>
    <li>Activities</li>
    <li>Accomoation</li>
    <li routerLink="contact">Contact</li>
  </ul>
</mat-toolbar> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 ">
  <div class="p-1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav pt-1">
      <li class="nav-item active">
        <a class="nav-link p-0" routerLink="" >Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0" routerLink="places-details">Places</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-0" routerLink="places-details">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-0" >Accomodation</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link p-0" routerLink="contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
